[data-autocomplete] {
  .ui-autocomplete {
    width: 200px;
    height: 300px;
    overflow: auto;
    position: absolute;
    background: $white;
    border: 1px solid #AAAAAA;
    @include border-radius;
    .ui-menu-item {
      a {
        display: block;
        width: auto;
        padding: 5px 10px;
        &.ui-state-focus,
        &.ui-state-active,
        &:hover,
        &:focus {
          background: #CCC;
        }
      }
    }
  }
  .ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

}

.likeDislike {
  @include clearfix;
  a {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
  }
  > div {
    float: left;
    width: 30px;
    text-align: center;
  }
}

.paginate {
  width: 40em;
  margin: 0 auto;
  @include clearfix;
  > a:first-child {
    float: left;
    & + a {
      float: right;
    }
  }
  > a:first-child,
  > a:first-child + a {
    margin: 10px 0;
    display: block;
    padding: 5px 10px;
    background: $white;
    @include box-shadow;
    @include transition(all 0.25s);
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      @include translate(0, 1px);
      @include box-shadow(0px 2px 2px 0px);
    }
  }
}