.threadToggle-enter {
  opacity: 0.01;
  @include transition(opacity .5s ease-in);
  &.threadToggle-enter-active {
    opacity: 1;
  }
}

.threadToggle-leave {
  opacity: 1;
  @include transition(opacity .5s ease-in);
  &.threadToggle-leave-active {
    opacity: 0.01;
  }
}

.forum {
  padding: 20px 0;
  h1 {
    display: none;
  }
  ul.threads {
    margin: 0 auto;
    max-width: 600px;
    > li {
      margin-top: 20px;
      background: $white;
      padding: 10px;
      @include border-radius;
      @include box-shadow;
      @include clearfix;
      &:first-child {
        margin-top: 0;
      }
      img {
        font-size: 0;
      }
      > .user {
        float: left;
        width: 64px;
        height: 48px;
        img {
          max-width: 100%;
          height: auto;
          max-height: 48px;
        }
        + a {
          display: block;
          margin-left: 74px;
        }
      }
      h3 {
        font-size: 1.2em;
        @include clearfix;
        margin: 0 0 0 74px;
        min-height: 58px;
      }
      .description {
        font-size: 0.9em;
      }
      .likeDislike {
        margin: 0.5em 10px 0.5em 0;
        float: left;
        polygon {
          fill: $blue-fill;
        }
      }
      .details {
        float: left;
        margin: 0.5em 0 0;
        @include clearfix;
        > a {
          width: 24px;
          float: left;
          img {
            max-width: 100%;
            height: auto;
          }
        }
        > span {
          float: left;
          display: block;
          margin-right: 10px;
        }
      }
    }
  }
}