.threadToggle-enter {
  opacity: 0.01;
  @include transition(opacity .5s ease-in);
  &.threadToggle-enter-active {
    opacity: 1;
  }
}

.threadToggle-leave {
  opacity: 1;
  @include transition(opacity .5s ease-in);
  &.threadToggle-leave-active {
    opacity: 0.01;
  }
}

.forum {
  @include media-query($screen-lg) {
    &.container {
      width: $screen-xs;
    }
  }
  @include media-query($screen-md) {
    &.container {
      width: $screen-xs;
    }
  }
  padding: 20px;
  h1 {
    display: none;
  }
  [data-paginate] {
    .pager {
      margin: 0;
    }
  }
  ul.threads {
    margin: 20px auto;
    padding: 0;
    > li {
      display: block;
      list-style-type: none;
      margin-top: 20px;
      background: $white;
      padding: 10px;
      break-inside: avoid;
      @include box-shadow;
      @include clearfix;

      h3 {
        font-size: 1.2em;
      }

      &:first-child {
        margin-top: 0;
      }

      &[data-view=simple] {
        img {
          font-size: 0;
        }
        [data-like-dislike] {
          float: left;
          margin-top: 5px;
          margin-right: 10px;
        }
        > .user {
          float: left;
          width: 24px;
          height: 24px;
          img {
            display: block;
            max-width: 100%;
            height: auto;
            max-height: 24px;
          }
          + a {
            display: block;
            margin-left: 74px;
          }
        }
        h3 {
          margin-left: 34px;
          margin-top: 0;
          @include clearfix;
        }
        .likeDislike {
          margin: 0.5em 10px 0.5em 0;
          float: left;
          polygon {
            fill: $blue-fill;
          }
        }
        .preview {
          display: block;
          width: auto;
          img {
            margin: 0 auto;
            display: block;
            width: 100%;
            height: auto;
            max-height: 900px;
          }
        }
        .details {
          float: left;
          margin: 0.5em 0 0;
          @include clearfix;
          > a {
            float: left;
            margin-right: 10px;
            img {
              max-width: 100%;
              height: auto;
            }
          }
          > span {
            float: left;
            display: block;
            margin-right: 10px;
          }
        }
      }
      &[data-view=stream] {
        min-height: 48px;
        h3 {
          margin-top: 0;
          position: relative;
          a {
            display: block;
            padding-left: 74px;
            .thumb {
              position: absolute;
              left: 0;
              top: 0;
              max-width: 64px;
              height: auto;
              display: block;
            }
          }
        }
        p {
          padding-left: 74px;
          span {
            margin-right: 10px;
          }
          &.details {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

[data-threads],
[data-users] {
  &[data-view=compact],
  &[data-view=scores] {
    ul {
      border-top: none;
      li {
        a {
          display: block;
          @include clearfix;
          img {
            width: 24px;
            float: left;
          }
          span {
            display: block;
            margin-left: 34px;
          }
        }
        &[data-view=score] {
          img:first-child + span {
            float: right;
            margin: 0;
            + span {
              margin-left: 34px;
            }
          }
        }
      }
    }
  }
}