[data-ui-view] {
  margin-top: $header-height;
  transition: all 0.5s;
  @include media-query($screen-md) {
    padding-right: 300px;
    .navigationVisible & {
      padding-right: 0px;
      padding-left: 300px;
    }
  }
  @include media-query($screen-lg) {
    &,
    .navigationVisible & {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
  display: none !important;
}