/* =Variables
-------------------------------------------------------------- */

$font-family: Avenir, Arial, Helvetica, sans-serif;
$text-default: #0a2c38;
$text-disabled: #AAA;
$text-dark: #444444;
$text-light: #AAAAAA;
$black: black;
$white: white;

$max-width: 100em; //1600px
$tablet-landscape: 60em; //960px
$tablet-portrait: 48em; //768px
$mobile: 30em; //480px
$mobile-min: 20em; //320px

$purple-fill: #8c348b;

$green-fill: #01d3ae;
$green-text: #0ea48a;
$green-text-dark: #016d5a;

$red-text: #af153d;
$red-fill: #e74c3c;

$pink-text: #f02193;
$pink-fill: #f02193;
$pink-fill-light: #ffa4d6;

$blue-text: #018bd3;
$blue-fill: #018bd3;
$blue-fill-light: #7cc2e7;

$teal-stroke: #91afba;
$teal-fill: #b4c7ce;
$teal-fill-mid: #d7e4e7;
$teal-fill-light: #e7f1f3;

$widgetPadding: 10px;
$buttonMenuWidth: 12px;
$widgetMenuWidth: 190px;
$buttonMenuWidth: 12px;