/* =Variables
-------------------------------------------------------------- */

$font-family: Avenir, Arial, Helvetica, sans-serif;
$text-default: #444444;
$text-disabled: #aaaaaa;
$text-dark: #444444;
$text-light: #aaaaaa;
$black: black;
$white: white;

$max-width: 100em; //1600px
$tablet-landscape: 60em; //960px
$tablet-portrait: 48em; //768px
$mobile: 30em; //480px
$mobile-min: 20em; //320px

$header-height: 50px;

$main-background: #f1f1f1;

$blue-fill: #0040a1;